<!DOCTYPE html>
<html>
<head>
  <title>RibbitApp</title>
  <link rel="stylesheet/less" href="style.less" />
  <%= javascript_include_tag "less" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<div class="wrapper">
		  <%= link_to image_tag("gfx/logo.png"), root_url %>
		  <span>Twitter Clone</span>
		<% if current_user %>
		  <%= link_to "Log Out", sessions_destroy_path %>
		  <%= link_to "Public Ribbits", ribbits_path %>
		  <%= link_to "Public Profiles", users_path %>
		  <%= link_to "My Profile", current_user %>
		  <%= link_to "Buddies' Ribbits", buddies_path %>
		<% else %>
			<p>
			  <%= form_tag sessions_create_path do %>
			  	<%= text_field_tag :username, nil, placeholder: "username" %>
			  	<%= password_field_tag :password, nil, placeholder: "password" %>
			  	<%= submit_tag "Log In" %>
			  <% end %>
			</p>
		<% end %>
		</div>
	</header>
	<div id="content">
	  <div class="wrapper">
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, class: "flash #{name}" %>
		<% end %>
		<%= yield %>
	  </div>
	</div>
	<footer>
		<div class="wrapper">
		  Ribbit - A Twitter Clone
		</div>
	</footer>

</body>
</html>
